mixin new-nav-main()
    div.nav-wrapper
        ul(class="nav nav-size nav_background nav_position")
            li(class="nav__item-position nav__item")
                img(src="icon-home_fill-white.svg", alt="icon-home" class="nav__img") 
                a(href="index.html" class="nav__link")="Главная"
            li(class="nav__item-position nav__item")
                img(src="icon-search-grey.svg", alt="icon-search" class="nav__img") 
                a(href="search.html" class="nav__link")="Поиск"
            //li(class="nav__item-position nav__item")
                img(src="icon-library-music-grey.svg", alt="icon-search" class="nav__img") 
                a(href="playlists.html" class="nav__link")="Мои плейлисты"
            //

mixin new-nav-search()
    div.nav-wrapper
        ul(class="nav nav-size nav_background nav_position")
            li(class="nav__item-position nav__item")
                img(src="icon-home_stroke-grey.svg", alt="icon-home" class="nav__img") 
                a(href="index.html" class="nav__link")="Главная"
            li(class="nav__item-position nav__item")
                img(src="icon-search-white.svg", alt="icon-search" class="nav__img") 
                a(href="search.html" class="nav__link")="Поиск"
            //li(class="nav__item-position nav__item")
                img(src="icon-library-music-grey.svg", alt="icon-search" class="nav__img") 
                a(href="playlists.html" class="nav__link")="Мои плейлисты"
            //

mixin new-nav-media()
    div.nav-wrapper
        ul(class="nav nav-size nav_background nav_position")
            li(class="nav__item-position nav__item")
                img(src="icon-home_stroke-grey.svg", alt="icon-home" class="nav__img") 
                a(href="index.html" class="nav__link")="Главная"
            li(class="nav__item-position nav__item")
                img(src="icon-search-grey.svg", alt="icon-search" class="nav__img") 
                a(href="search.html" class="nav__link")="Поиск"
            li(class="nav__item-position nav__item")
                img(src="icon-library-music-white.svg", alt="icon-search" class="nav__img") 
                a(href="playlists.html" class="nav__link")="Мои плейлисты"